
<div class="p-d-flex p-jc-center">
    <div class="row">
        <div class="p-col-12">
            <p>

                <button pButton type="button" class="p-button-raised p-button-lg p-mr-5"
                    routerLink="timezone"
                    label="Timezone"
                    icon="pi pi-search"></button>

                <button pButton type="button" class="p-button-raised p-button-lg p-ml-5"
                    routerLink="stopwatch"
                    label="Stopwatch"
                    icon="pi pi-clock"></button>
            </p>
        </div>
    </div>
</div>

<hr>

<router-outlet></router-outlet>