::ng-deep .p-button {
  .pi-play,
  .pi-pause {
    margin-top: 20%;
    margin-left: 8%;
    font-size: 70px !important;
  }

  .pi-undo {
    margin-top: 20%;
    margin-left: 8%;
    font-size: 35px !important;
  }
}